
@model IEnumerable<Category>
@{
    ViewData["Title"] = "Category List";
}
<partial name"_Notification"/>

    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">List Category</h2>
        </div>
        <div class="col-6 text-end">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp Add Category</a>
        </div>
    </div>
    <br />
        <div class="col-12">

            <table class="table table-striped">
                <thead>
                    <tr class="table-dark">
                        <th>#</th>
                        <th>Category Name</th>
                        <th>Display Order</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
            @{
                int index = 1;
            }
                    @foreach (var cat in Model)
                    {

                        <tr class="table-dark">
                    <td>@index</td>

                    @{
                        index++;
                    }

                            <td>@cat.Name</td>
                            <td>@cat.DisplayOrder</td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Category" asp-action="Edit" asp-route-id="@cat.Id" class="btn btn-outline-primary mx-1"><i class="bi bi-pencil-square"></i></a>
                            <a asp-controller="Category" asp-action="Destroy" asp-route-id="@cat.Id" class="btn btn-outline-danger mx-1"><i class="bi bi-trash3-fill"></i></a>
                                    @* <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDelete" data-id="@cat.Id">
                                        <i class="bi bi-trash3-fill"></i>
                                    </button> *@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


@* 

<!-- Modal -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Category</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure want to delete this data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                <form asp-action="Destroy" asp-route-id>
                    <input type="hidden" id="id" name="id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <script>
        $('#modalDelete').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.data('id');
            var modal = $(this);
            modal.find('.modal-footer #id').val(id);
        })
    </script>
 *@